<html lang="en">
  <head>			
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/795515254325903362/795539012310925352/Devil_Owl.png"/>
    <title>Devil Api</title> 
  </head>

  <body class="js-stop-transition">
    <div class="icon-bar">
        <a id="icon" href="/"><i class="fa fa-home"></i></a> 
        <a class="current" id="icon" href="/api"><i class="fa fa-folder"></i></a>
  
        <div class="socials">
          <a id="social" target="_blank" href="https://www.youtube.com/channel/UCt0RA_2pYgARpRpj17K7a_g"><i class="fa fa-youtube-play"></i></a>
          <a id="social" target="_blank" href="https://discord.gg/YjSa7s8paX"><i class="fa fa-discord-alt"></i></a>
          <a id="social" target="_blank" href="https://www.github.com/devilowldev"><i class="fa fa-github"></i></a>
        </div>
      </div>
    <div class="project-position">
      <h2 class="green-fade" id="contactme-header">Api</h2>
      <div class="project">
        <ul>
          <li>
            <h3><a href="https://devilapi.js.org/api/chatbot?message=What%20your%20name?&name=Lazy&user=1&gender=Male" target="_blank">Chat Bot</i></a></h3>
          </li>
          <li>
            <h3><a href="https://devilapi.js.org/api/meme" target="_blank">Meme</i></a></h3>
          </li>
          <li>
            <h3><a href="http://devilapi.js.org/api/translate?text=mew&from=en&to=th" target="_blank">Translate</i></a></h3>
          </li>
        </ul>
      </div>
    </div>
    <script>document.body.classList.remove('js-stop-transition')</script>
  </body>
</html>